<nav class="navbar navbar-toggleable-lg navbar-light bg-dark">

  <a class="navbar-brand" id="title" href="#">{{title}}</a>
  <button class="navbar-toggler navbar-toggler-right bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">



      <ul class="dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-shopping-cart"></i>Shopping Cart</button>

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Account
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <li>
              <a href="#">User Account
                <i class="fas fa-user-secret" id="LoginIcon"> </i>
              </a>
              </i>
            </li>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Logout</a>
          </li>

        </ul>
      </ul>
    </ul>

  </div>
</nav>