{{# if products }}
    <div class="row" id="incart">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul classlist-group="list-group">
                {{# each products }}
                    
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
           
        </div>
    </div>

    
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in Cart</h2>
        </div>
    </div>
{{/if}}


  <div class="row">
        <div class="col-lg-6 col-lg-6 col-lg-6"
            
            <ul class="">
                {{# each products }}
                    <li class="list-group-item" >
                      
                        <strong>{{ this.item.title }}</strong>

                    <span class="badge">{{ this.qty }}</span>
                       
                    </li>
                    <hr>
                {{/each}}
          
              <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Reduce by 1</a></li>
                                <li><a href="#">Remove All</a></li>
                            </ul>
                        </div>
            <a href="/checkout" type="button" class="btn btn-success">Checkout ${{ totalPrice }}</a>
            
        </div>
    </div>